$pink: #ebb7ce;
$pink-hard: #b38471;
$green: #5c5e36;
$blue-dark: #1d3d33;
$black: #0c181c;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
  
body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #1d3d33;
}

@mixin displayflex($direction,$wrap,$js-content,$alin-cont) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $js-content;
    align-content: $alin-cont;
}

h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 12px;
    text-indent: 4px;
}

h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 8px;
    text-indent: 8px;
}

h3 {
    margin-bottom: 4px;
    font-size: 2rem;
    color: #fff;
}

p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 2px;
}

%scroll {
    flex: 0 0 200px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    scroll-snap-align: start;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

%card {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: clamp(200px,100%, 250px);
    height: 250px;
}
  
nav {
    display: flex;
    justify-content: space-between;
    background-color: #0c181c;
    padding: 15px;
    width: 100%;

    p {
        font-size: 2rem;
        color: #fff;
    }

    .icon {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;

        li {
            list-style: none;

            a {
                display: block;
                text-decoration: none;
                width: max-content;
                height: max-content;

                svg {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }
}

main {
    
    .introduccion {
        display: grid;
        grid-template-columns: repeat(2, minmax(120px,50%));
        gap: 20px;
        padding: 0 45px 0 45px;
        margin: 28px 0;

        p {
            text-indent: 8px;
        }

        button {
            border: none;
            background: $pink;
            font-size: 1.2rem;
            width: 130px;
            height: 40px;
            border-radius: 24px;
            margin-top: 56px;
        }

        figure {
            place-self: center;

                img {
                    position: relative;
                    z-index: 11;
                }

                .sombra {
                    width: 300px;
                    height: 12px;
                    border-radius: 50%;
                    box-shadow: 0px -32px 20px 0px #000;
                    z-index: 10;
                }
            }
        }
    
    .about {
      margin: 24px 0;
      ul {
        @include displayflex(row, wrap, center, center);
        gap: 20px;
        li {
          width: min(100%, 320px);
          list-style: none;
          @include displayflex(column, nowrap, space-evenly, center);
          align-items: center;
          object-fit: cover;
          p {
            text-align: center
          }
        };
      }
    }

    .images-transicion {
            background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
            height: 245px;
            background-size: cover;
            width: auto;
            margin: 24px 0;
            background-position-y: -156px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: "";
                position: relative;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
              }
            
            h1 {
            position: absolute;
            text-indent: 0px;
            }
        
    }
    
    .computadoras {
        .productos {
        @extend %scroll;
          .card {
            @extend %card;
            margin: 0 4%;
      
            .corazon {
                display: block;
                position: relative;
                display: flex
                transform translatex(-12px);
                z-index: 32;
            
                justify-content: flex-end;
      
              &:hover {
                background: #6c6c6c8f;
                border-radius: 50%;
                width: 36px;
                height: 36px;
              }
            }
      
            svg {
              display: inline;
              position: relative;
              right: -7.25px;
              bottom: -6px;
              fill: $pink;
            }
      
            .card-image {
              position: relative;
              z-index: 30;
              width: 100%;
              height: 120px;
              overflow: hidden;
              border-radius: 12px 12px 0 0;
              transform: translateY(-24px);
      
              img {
                width: 100%;
                height: auto;
                position: relative;
                z-index: 31;
              }
            }
      
            .card-content {
              padding: 10px;
              color: white;
              width: 100%;
              height: 122px;
              overflow-y: scroll;
              transform: translateY(-26.1px);
      
              h3 {
                font-weight: bolder;
                display: inline;
              }
      
              p {
                margin: 0;
                font-size: 14px;
                line-height: 1.2;
              }
            }
          }
        }
      }
      
      .oficinas {
        

        .oficinas__contenedor {
            @include displayflex(row, wrap,space-evenly, center);
            .oficina {
          @extend %card;
          background-image: url("https://img.freepik.com/foto-gratis/computadora-portatil-abierta_144627-12145.jpg?w=740&t=st=1689726663~exp=1689727263~hmac=bd0a4bd06d25877b063a376e72c969e6dfcd1505d88e7acf58109c3b75c4232d");
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 12px 12px 12px 12px;  
          transition: 1.2s;
          margin: 12px 0;
      
          .card-content {
            display: none;
            text-align: center;
            transform: translateY(17.9vh);
          }

          &:hover {
            background-image: linear-gradient(7deg, #0000008f, transparent);
            
            .card-content {
                display: block;
            }
            
        }

        &:active {
            @extend :hover;
        }
          
        }
        }
      
        
      }
      
}

    


footer {
    position: relative;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #0c181c;
}