$pink: #ebb7ce;
$pink-hard: #b38471;
$green: #5c5e36;
$blue-dark: #1d3d33;
$black: #0c181c;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
}

