$pink: #ebb7ce;
$pink-hard: #b38471;
$green: #5c5e36;
$blue-dark: #1d3d33;
$black: #0c181c;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
  
body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #1d3d33;
}

h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 12px;
}

h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 8px;
}

h3 {
    margin-bottom: 4px;
    font-size: 2rem;
    color: #fff;
}

p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 2px;
}
  
nav {
    display: flex;
    justify-content: space-between;
    background-color: #0c181c;
    padding: 15px;
    width: 100%;

    p {
        font-size: 2rem;
        color: #fff;
    }

    .icon {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;

        li {
            list-style: none;

            a {
                display: block;
                text-decoration: none;
                width: max-content;
                height: max-content;

                svg {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }
}

main {
    .introduccion {
        display: grid;
        grid-template-columns: repeat(2, minmax(120px,50%));
        gap: 20px;
        padding: 0 45px 0 45px;
        margin: 28px 0;
        p {
            text-indent: 8px;
        }

        button {
            border: none;
            background: $pink;
            font-size: 1.2rem;
            width: 130px;
            height: 40px;
            border-radius: 24px;
            margin-top: 56px;
        }

        figure {
            place-self: center;

            img {
                position: relative;
                z-index: 11;
            }

            .sombra {
                width: 300px;
                height: 12px;
                border-radius: 50%;
                box-shadow: 0px -32px 20px 0px #000;
                z-index: 10;
            }
            }
        }

    .images-transicion {
            background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
            height: 245px;
            background-size: cover;
            width: auto;
            margin: 24px 0;
            background-position-y: -156px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: "";
                position: relative;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
              }
            
              h1 {
                position: absolute;
              }
        
    }
    
    
    
    .computadoras {
        .productos {
            .card {
                background-color: rgba(255, 255, 255, 0.15);
                border-radius: 12px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                width: min(100%,200px);
                height: 250px;

                .corazon {
                    position: absolute;
                    transform: translate(161px,10px);
                    z-index: 31;

                        &:hover {
                            background: #6c6c6c8f;
                            border-radius: 50%;
                            width: 36px;
                            height: 36px;
                        }
                    }

                    svg {
                        display: inline;
                        position: relative;
                        right: -7.25px;
                        bottom: -6px;
                        fill: $pink;
                      }
                }
              
                .card-image {
                  position: relative;
                  width: 100%;
                  height: 100px;
                  overflow: hidden;
                  border-radius: 12px 12px 0 0;
              
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              
                .card-content {
                  padding: 10px;
                  color: white;
                  width: 100%;
                  height: 108px;
                  overflow-y: scroll;
                    
                  h3 {
                    font-weight: bolder;
                    display: inline;
                  }

                  p {
                    margin: 0;
                    font-size: 14px;
                    line-height: 1.2;
                  }
                }
              }
              
        }
    }

    .mision {
        background-color: #000;
        width: auto;
        height: 200px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }


footer {
    position: relative;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #0c181c;
}